fastapi==0.121.3
fastapi-cli == 0.0.16
fastapi-cloud-cli== 0.5.1
uvicorn==0.38.0
httpx==0.27.2
python-dotenv==1.0.1
huggingface_hub[hf_transfer]
pydantic
pandas
peft==0.11.1
bitsandbytes==0.43.2
transformers==4.57.3
tiktoken==0.12.0
tokenizers==0.22.1
accelerate==1.12.0
openpyxl
datasets==2.19.1
trl==0.9.6
gradio==6.0.1
gradio_client==2.0.0
scipy